<!-- article-detail.component.html -->
<div class="container my-5">
  <div *ngIf="article" class="card shadow">
    <div class="card-body">
      <h2 class="card-title">{{ article.title }}</h2>
      <p class="card-text custom-description">{{article.description}}</p>


      <!-- Like/Dislike Section -->
      <div class="mt-4 d-flex align-items-center">
        <h4 class="mr-3">Likes/Dislikes</h4>
        <button class="btn btn-success " (click)="toggleLike1()">
          <i class="fas fa-thumbs-up" [ngClass]="{'liked': article.liked}"></i>
        {{article.likes}}
        </button><button class="btn btn-danger ml-3" (click)="toggleDislike()">
          <i class="fas fa-thumbs-down" [ngClass]="{'disliked': article.disliked}"></i>
          {{ article.dislikes }}
        </button>
      </div>




      <!-- Modify/Delete Buttons on the far right -->
      <div *ngIf="authservice.isAdmin()" class="d-flex justify-content-end">
        <div>
          <button  class="btn btn-success mr-2" (click)="modifyArticle()">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteArticle()">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>


      <div *ngIf="isModifying" class="mt-3">
        <textarea [(ngModel)]="article.title" class="form-control" placeholder="Enter modified title"></textarea>
        <textarea [(ngModel)]="article.description" class="form-control" placeholder="Enter modified description"></textarea>
        <button class="btn btn-primary mt-2" (click)="saveModification()">Save</button>
        <button class="btn btn-secondary mt-2 ml-2" (click)="cancelModification()">Cancel</button>
      </div>


      <!-- Rating Section -->
      <div class="d-flex align-items-center">
        <span class="mr-2">Your Rating:</span>
        <div class="star-rating">
    <span *ngFor="let i of [1, 2, 3, 4, 5]"
          class="star"
          (click)="setRating(i)"
          [ngClass]="{'selected': i <= selectedRating, 'unselected': i > selectedRating}">
      <i class="fas fa-star"></i>
    </span>
        </div>
      </div>


      <!-- Comment Section -->
      <div class="mt-4 card shadow">
        <div class="card-body">
          <h4>Comments</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let comment of comments.slice(0, commentsToShow)">{{ comment }}
            </li>
          </ul>
          <div>
<!--
            <li class="list-group-item" *ngFor="let comment of comments.slice(0, commentsToShow)">{{ comment }}
              <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-sm btn-info mr-2" (click)="modifyComment(comment)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteComment(comment)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </li>

          </ul>
         <div>


-->
           <!-- Dans votre composant.html -->

            <div *ngIf="comments.length > commentsToShow">
              <button class="btn btn-link btn-show-more" (click)="loadMoreComments()" *ngIf="commentsToShow < comments.length">Show more comments</button>
              <button class="btn btn-link btn-show-less" (click)="showLessComments()" *ngIf="commentsToShow > 3">Show less comments</button>
            </div>




          </div>
          <!-- Add Comment Form -->
          <div class="mt-3">
            <h5>Add a Comment</h5>
            <form (ngSubmit)="addComment()">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="newComment" name="newComment" placeholder="Your comment">
              </div>
              <button type="submit" class="btn btn-danger">Add Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
