/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.sidebar .nav-link {
  font-weight: bold;
  color: #333;
}

.sidebar .nav-link.active {
  color: #8a273b;
}

/* Main content styling */
main {
  padding-top: 20px;
}

/* Chart Styling */
canvas {
  max-width: 400px;
  margin: auto;
}


.progress-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 10px 0;
}

.progress-bar {
  height: 20px;
  background-color: #0d440e;
  border-radius: 5px;
  transition: width 0.5s;
}

.progress-bar.dislike {
  background-color: #f44336;
}

.stars {
  color: gold;
}
.fa-star, .fa-star-o {
  margin-right: 2px;
}

.stars {
  color: gold;
}
.fa-star, .fa-star-o {
  margin-right: 2px;
}


.star {
  cursor: pointer;
  color: gray;
}

.star.selected {
  color: gold;
}
