
<div class="center-container">
  <img src="./../../assets/images/mail.png" alt="Mail Icon" class="icon mx-auto d-block mb-3" style="width: 100px; height: auto;">

  <form id="emailForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" [(ngModel)]="email.subject" class="form-control" placeholder="Enter subject" required>

    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea id="content" name="content" [(ngModel)]="email.content" class="form-control" rows="4" placeholder="Enter content" required></textarea>
    </div>

    <button type="submit" class="btn btn-danger toast-bottom-center">Send Email</button>
  </form>
</div>

