<ol class="list-group">
  <app-item-cv *ngFor="let personne of personnes" (selectedPersonne)="selectPersonne($event)" [personne]="personne"></app-item-cv>
</ol>
<!-- <ol class = "list-group">
  <app-item-cv (selectedPersonne)="selectPersonne($event)" [personne]="personnes[0]"  ></app-item-cv>
  <app-item-cv (selectedPersonne)="selectPersonne($event)" [personne]="personnes[1]" ></app-item-cv>
   <app-item-cv (selectedPersonne)="selectPersonne($event)" [personne]="personnes[2]" ></app-item-cv>
   <app-item-cv (selectedPersonne)="selectPersonne($event)" [personne]="personnes[3]" ></app-item-cv>
 </ol> -->