<!-- palestine-info.component.html -->
<div class="palestine-info-container">
  <div class="section welcome-section">
    <img src="./../../assets/images/palestine.png" alt="Palestine Icon" class="icon"> <!-- Add this line -->
    <h2>Welcome to Palestine</h2>
    <p>Discover the Heart of the Middle East</p>
  </div>

  <div class="card left-aligned">
    <img src="./../../assets/images/bg4.jpg" alt="Historical Palestine" class="card-img">
    <div class="card-content">
      <h3>Historical Significance</h3>
      <p>Palestine's historical significance is a poignant tale etched in ancient stones and woven through the alleys of cities like Jerusalem and the archaeological wonders of Jericho. Each cobblestone and crumbling wall carries the weight of centuries, bearing witness to a narrative rich with resilience, spiritual depth, and cultural heritage.</p>
    </div>
  </div>

  <div class="card right-aligned">
    <div class="card-content">
      <h3>Renowned Cuisine</h3>
      <p>At the heart of every Palestinian meal is a commitment to freshness and simplicity. From the sumptuous Musakhan, to the savory Maqluba, a tantalizing medley of rice, vegetables, and spiced meats cooked to perfection, each dish tells a tale of generations preserving time-honored recipes.</p>
    </div>
    <img src="./../../assets/images/food.jpg" alt="Palestinian Cuisine" class="card-img">
  </div>

  <div class="card left-aligned">
    <img src="./../../assets/images/trad.jpg" alt="Historical Palestine" class="card-img">
    <div class="card-content">
      <h3>Time-Honored Traditions</h3>
      <p>Hospitality, a cornerstone of Palestinian culture, is expressed through the sharing of aromatic coffee, the preparation of feasts, and the open-hearted welcome extended to guests. Traditional handicrafts, passed down through families, carry the essence of Palestinian identity</p>
    </div>
  </div>


  <div class="card right-aligned">
    <div class="card-content">
      <h3>Visionary Icons</h3>
      <p>
        In the realm of Palestinian achievers, Shireen Abu Akleh stands as a poignant symbol of journalistic courage. As a Palestinian journalist, she brought attention to the multifaceted realities of the region. Shireen's fearless pursuit of journalism, tragically cut short a year ago, exemplifies the sacrifices made by those dedicated to uncovering the truth.</p>
    </div>
    <img src="./../../assets/images/icon.jpg" alt="Palestinian Cuisine" class="card-img">
  </div>
</div>
