<div class="about-us-container">
  <!-- Rotating Card for Overview -->
  <div class="rotating-card-container">
    <div class="rotating-card">
      <div class="card-side front">
        <h3>About Palestia Today</h3>
      </div>
      <div class="card-side back">
        <p>Discover Palestia Today, where stories from the heart of Palestine come to life. We are dedicated to sharing authentic narratives that capture the essence of the ongoing conflict. Join us in uncovering untold perspectives, fostering understanding, and standing together for justice.</p>
        <br>

        <button class="btn-redirect" (click)="redirectToHome()">Go to Home</button>
      </div>
    </div>
  </div>

  <!-- Rotating Card for Mission -->
  <div class="rotating-card-container">
    <div class="rotating-card">
      <div class="card-side front">
        <h3>Our Mission</h3>
      </div>
      <div class="card-side back">
        <p>At Palestia Today, our mission is to amplify the voices often unheard, bringing forth the realities of the ongoing conflict in Palestine.
          Through honest storytelling and unbiased reporting, we aim to foster understanding, empathy, and a shared commitment to justice.</p>
      </div>
    </div>
  </div>

    <!-- Rotating Card for Mission -->
    <div class="rotating-card-container">
      <div class="rotating-card">
        <div class="card-side front">
          <h3>The Team Behind This</h3>
        </div>
        <div class="card-side back">
          <p>Our dedicated team of writers, journalists, and advocates is committed to providing a platform for voices that deserve to be heard. Each article, every perspective, adds to the collective narrative of resilience and hope.</p>
          <br>
          <div class="d-flex justify-content-center mt-3">
          <button class="btn-redirect" (click)="redirectToTeam()">Meet the Team</button>
        </div>

        </div>
      </div>
    </div>

  <!-- Repeat for Vision and Team with respective placeholder content -->
  <!-- ... -->
</div>
